@import url('assets/css/normalize.css');

@import url('assets/fonts/fira-code/fira-code.css');
@import url('assets/fonts/fira-sans/fira-sans.css');

*::before,
*,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  overflow: hidden;
}
